$color-primary: #3c6d73;
// BREAKPOINTS
$xxxs: 320px;
$xxs: 414px;
$xs: 480px;
$s: 768px;
$m: 1024px;
$l: 1366px;
$lg: 1440px;
$xxl: 1600px;

$color-primery-700: #FF891D;

// background-color
$bg-white: #fff;

// text
$color-body-text: #5a5b5e;
$color-white: #ffffff;

$color-danger: #ea5455;

$disabled-input: #efefef;
