@use '@/app/styles/constants' as *;
@use '@/app/styles/mixins' as *;

.notice {
  :global {
    z-index: 9999 !important;
    .ant-modal-content {
      text-align: center;
      border-radius: 8px;
      padding: 40px 24px;
      box-shadow: none;
      background-color: $bg-white !important;
    }
    .ant-modal-footer {
      margin-top: 0px;
    }
  }           

  &__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin: 0px;
    padding: 32px 28px 8px;
  }

  &__description {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: $color-body-text;
    line-height: 24px;
  }

  &__btn {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-top: 40px;
  }
  .button {
    min-width: 140px;
  }
  button:nth-child(1):only-child,
  button:nth-child(2):only-child {
    width: auto;
  }
}
