:global(.ant-btn).baseButton{
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    height: auto;
    border: none;
}

:global(.ant-btn).activeButton{
    background-color: #FFC858 !important;
    color: #000 !important;
}