@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0F72F3;
  --oswald-font: var(--font-oswald);
  --roboto-font: var(--font-roboto);
  --gloria-font: var(--font-gloria);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.custom-height-subject {
  height: calc(100dvh - 100px);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--roboto-font), Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: var(--oswald-font), Arial, Helvetica, sans-serif;
}

.font-oswald {
  font-family: var(--oswald-font), Arial, Helvetica, sans-serif;
}

.font-roboto {
  font-family: var(--roboto-font), Arial, Helvetica, sans-serif;
}

.font-gloria {
  font-family: var(--gloria-font), cursive;
}

::-webkit-scrollbar {
  width: 6px; /* vertical scrollbar */
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #fff; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #637381; /* Scrollbar handle */
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}

#main-body .auth-form .ant-form-item-required{
  font-size: 16px;
}

input[type="password"] {
  -webkit-text-security: disc!important;
}
.ant-btn-variant-text:not(:disabled):not(.ant-btn-disabled):active{
  background-color: transparent!important;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-checkbox .ant-checkbox-inner {
  border-color: #667085!important; /* your desired color */
}

.custom-input-label label{
  font-size: 16px !important;
}